body {
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.barra-lateral {
    background: #262a34;
    color: white;
    min-width: 300px;
    min-height: 100vh;
}

.barra-lateral a {
    color: white;
}

.barra-lateral .logo {
    background: rgb(33, 81, 195);
}

.barra-lateral .logo h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255, .1);
}

.barra-lateral .menu a:hover {
    background: rgb(86, 130, 21);
}

.barra-lateral .menu a svg {
    margin-right: 10px;
}

.main {
    padding-top: 40px;
}

.main .columna {
    padding: 0 40px;
}

.main .titulo {
    color: #262a34;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.main .widget {
    margin-bottom: 40px;
}

.main .nueva_entrada form input[type="text"],
.main .nueva_entrada form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
} 

.main .nueva_entrada form textarea {
    height: 400px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

.btn-enviar {
    background: #0275b8;
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    transition: .3s ease all;
}

.main .widget button:hover {
    background: #005b90;
}

.main .contenedor {
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,.2);
}

.main .estadisticas .caja {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    padding: 40px 20px;
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main .estadisticas .caja h3 {
    margin-bottom: 10px;
    color: #35ae68;
}

.main .estadisticas .caja p {
    color: #a8a8a8;
    margin-bottom: 0;
}

.main .estadisticas .caja:first-child {
    border-right: none;
}

.main .estadisticas .caja:last-child {
    border-left: none;
}

 .widget .comentario .texto  {
   
    margin-bottom: 10px;
 }

 .widget .comentario {
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,.3);
    background-color:#fff;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
 }

.main .comentarios .comentario .foto {
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 100%;
}

.main .comentarios .comentario .foto a {
    display: inline-block;
}

.main .comentarios .comentario .foto img {
    width: 100%;
    vertical-align: top;
}

 .texto{
    flex: 1;
    margin-left: 10px;
 }

 .main .comentarios .comentario .texto .texto-comentario {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
 }

 .main .comentarios .comentario .botones button {
    background: none;
    cursor: pointer;
    color:  #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
 }

 .main .comentarios .comentario .botones .aprobar {
    background-color: #35ae68;
 }

 .main .comentarios .comentario .botones .eliminar {
    background-color: #bc2424;
 }

 .main .comentarios .comentario .botones .bloquear {
    color: #a99e9e;
 }


 
 .main .comentarios .comentario .botones .aprobar:hover {
    background-color: #257647;
 }

 .main .comentarios .comentario .botones .eliminar:hover {
    background-color: #7b1616;
 }

 .main .comentarios .comentario .botones .bloquear:hover {
    color: #7e7474;
 }


@media (max-width: 320px ) {
   
}

@media (max-width: 576px ) {
   .barra-lateral {
    min-height: auto;
   }



@media (max-width: 768px ) {
    .main .comentarios .comentario .botones .aprobar, .eliminar, .bloquear{
        width: 100%;
    }
}

@media (max-width: 992px ) {
    
}

@media (max-width: 1200px ) {
    .barra-lateral {
        min-width: auto;
    }

    .barra-lateral .logo {
        display: none;
    }

    .barra-lateral .menu a svg {
        display: none;
    }
}

@media (max-width: 1400px ) {
    
}